body {
    background-color: rgb(220, 161, 24);
    margin: 0px;
}

/*menu*/

.menu {

    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}


li a {
    border: 1px solid black;
    padding: 15px;
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    width: ;
}

/*hover*/
a:hover {
    background-color: burlywood;
}

.contenido {
    background-color: rgb(220, 161, 24);
    padding-left: 15px

}

.active {
    border: 2px solid darkkhaki;
}